<html>
    <head>
        <title>Error 404 not found</title>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link href="/favicon.png" rel="icon">
    </head>

    <body>
        <center>
            <h1>404 Page not found</h1>
            You done messed up A-aron
        </center>
    </body>
</html>